@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,400&display=swap');

body {
  margin: 0;
  font-family: 'Source Code Pro', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Weather {
  border: 1px solid black;
}

#bigMood {
  font-size: 10vw;
  font-weight: 300;
}